extends layout
block head
  title Index - Mao's Google Code Jam practice files
block content
  | !{readme}
  hr
  h2 Index
  -let hasCorrect = false
  -let hasSmall = false
  -let hasWrong = false
  ul.serieslist
    -for (let s of series)
      li
        | #{s.seriesName}
        ul.problemlist
          -for (let l of s.links)
            li
              a(href=l.href)= l.name
              -if (l.correct === true)
                |  ✅
                -hasCorrect = true
              -else if (l.correct === 'small')
                |  ⭕
                -hasSmall = true
              -else
                |  ❌
                -hasWrong = true
  p
    | Key:
    | &nbsp;&nbsp;&nbsp;&nbsp;
    -if (hasCorrect)
      | ✅ = correct
      -if (hasWrong || hasSmall)
        | &nbsp;&nbsp;&nbsp;&nbsp;
    -if (hasWrong)
      | ❌ = wrong
      -if (hasSmall)
        | &nbsp;&nbsp;&nbsp;&nbsp;
    -if (hasSmall)
      | ⭕ = only solved small input
