extends layout
block head
  title Index - Mao's Google Code Jam practice files
block content
  h1 Mao's Google Code Jam practice files
  ul.serieslist
    -for (let s of series)
      li
        | #{s.seriesName}
        ul.problemlist
          -for (let l of s.links)
            li
              a(href=l.href)= l.name
